<form action="/profile/edit" method="POST" enctype="multipart/form-data">
   <label> Username
      <input type="text" method="POST" />
    </label>

    <label> Avatar
      <input type="file" name="imgUrl" />
    </label>

    <button type="submit">Submit changes</button>
</form>